#Pastas
.vscode
__pycache__
build
btipos_conteudo_email\__pycache__
Arquivos uteis
temp_extracao
backup email

#Arquivos
credenciais_google.json
imagens\Fapec-logo.ico
imagens\Fapec-logo.png
backup-email.mbox
Todos os e-mails, incluindo Spam e Lixeira.mbox
